/* Utile */

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

/* Image de fond de site */

/* Site sur grand écran */

body{
    background-image: url(wallpaper.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Impact, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
}

/* En-tete */

.menu{
    background: linear-gradient(90deg, rgba(11,8,30,1) 10%, rgba(84,74,121,1) 50%, rgba(11,8,30,1) 90%);
    width: 55%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    box-shadow: 2px 2px 5px #544a79;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    margin-bottom: 5em;
    font-size: 1.2em;
}

.menu_logo{
    border-radius: 50%;
    margin-right: 2em;
}

.menu_logo:hover{
    transform: rotate(360deg);
    transition-duration: .5s;
}

.menu_list_item{
    color: #ffffff;
    font-size: 1em;
    float: left;
    margin: .7em .4em .7em .4em;
    padding: .5em .8em .5em .8em;
}

.menu_list_item:hover{
    text-shadow: 2px 2px 5px #ffffff;
    cursor: pointer;
    border-bottom: solid 2px #ffffff;
}

/* Lune gauche du menu */

.menu::before{
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 5px 5px 2px 0 #ffffff;
    position: absolute;
    margin-right: 58.5%;
    margin-top: 5em;
}

/* Lune droite du menu */

.menu::after{
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: -5px 5px 2px 0 #ffffff;
    position: absolute;
    margin-left: 58.5%;
    margin-top: 5em;
}

/* Transition des lunes du menu */

.menu:hover::before{
    transform: rotate(270deg);
    transition: 1s;
    margin-right:0em;
    margin-top: 12em;
}

.menu:hover::after{
    transform: rotate(-270deg);
    transition: 1s;
    margin-left: 0em;
    margin-top: 12em;
}

/* Corps de la page */

/* Grid */

.contenu{
    display: grid;
    grid-template-columns: repeat(25, 5em);
    grid-template-rows: repeat(25, 1.9em);
    width: 100%;
}

/* Emplacement photo de profil */

.contenu_profil-annexe{
    grid-column: 2 /6 ;
    grid-row: 4 /11;
    background-color: rgba(11, 8, 30, .7);
    padding: 0 40px 0 20px;
    font-size: .8em;
    line-height: 3.5em;
    border: 3px solid white;
    display: flex;
    align-items: center;
    box-shadow: .4em .4em .4em #544a79;
}

.profil-annexe_nom{
    color: white;
}

.profil-annexe_age{
    position: absolute;
    margin-top: 120px;
    margin-left: 170px;
    color: white;
    font-size: 2em;
}

.contenu_profil{
    grid-row: 1 /7;
    grid-column: 5 /7;
    border: .2em solid #ffffff;
    box-shadow: .4em .4em .4em #544a79;
}

.profil_photo{
    border: .4em ridge #544a79;
}

.ligne1{
    grid-row: 1 /4;
    grid-column: 7 /9;
    border-bottom: .3em solid white;
    border-bottom-left-radius: 50%;
    animation-name: ligne1;
    animation-duration: 2.25s;
}

/* Animation de ligne numéro1 */

@keyframes ligne1{
    from{
        border: transparent;
        border-bottom-left-radius: 0%;
    }
    66%{
        border: transparent;
        border-bottom-left-radius: 0%;
    }
    83%{
        border-bottom: .1rem solid white;
    }
    to{
        border-bottom-left-radius: 50%;
    }
}

/* Emplacement de ma description */

.contenu_description{
    grid-row: 3 /9;
    grid-column: 9 /16;
    border: .2em solid #ffffff;
    box-shadow: .2em .2em .2em #544a79;
    color: #ffffff;
    background-color: rgba(11, 8, 30, .9);
    line-height: 2em;
    font-size: 1.2em;
    padding-left: 40px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 5px #544a79;
    animation-name: description;
    animation-duration: 3.75s;
}

/* Animation de ma description */

@keyframes description{
    from{
        background-color: transparent;
        color: transparent;
        border: none;
        box-shadow: none;
        width: 0%;
        height: 0%;
        text-shadow: none;
    }
    60%{
        background-color: transparent;
        color: transparent;
        border: none;
        box-shadow: none;
        width: 0%;
        height: 0%;
    }
    70%{
        background-color: #544a79;
        color: transparent;
    }
    80%{
        color: #ffffff;
        border: none;
        width: 100%;
        height: 100%;

        }
    90%{
        border: transparent;
        box-shadow: none;
        text-shadow: none;
    }
    to{
        box-shadow: .2em .2em .2em #544a79;
    }
}

.ligne2{
    grid-row: 6 /11;
    grid-column: 16 /18;
    border-bottom: .3em solid white;
    border-bottom-left-radius: 50%;
    animation-name: ligne2;
    animation-duration: 4.5s;
}

/* Animation de ligne numéro2 */

@keyframes ligne2{
    from{
        border: transparent;
        border-bottom-left-radius: 0%;
    }
    83%{
        border: transparent;
    }
    90%{
        border-bottom: .1rem solid white;
        border-bottom-left-radius: 0%;
    }
    95%{
        border-bottom-left-radius: 50%;
    }
    to{
        
    }
}

/* Emplacement de mes competences */

.contenu_competences{
    grid-row: 10 /12;
    grid-column: 18 /22;
    border: .15em solid #ffffff;
    box-shadow: .2em .2em .2em #544a79;
    color: #ffffff;
    background-color: rgba(11, 8, 30, .8);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px #544a79;
    animation-name: competences;
    animation-duration: 6s;
}

.comptetences-1-triangle{
    margin-top: .4em;
    grid-row: 12 /14;
    grid-column: 19 /20;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid rgba(250, 250, 250, .9);
}

.triangle1_interieur1{
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-top: 37.5px solid #544a79;
    margin-top: -45px;
    margin-left: -18px;
}

.triangle1_interieur2{
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 25px solid #ffffff;
    margin-top: -32px;
    margin-left: -12px;
}

.triangle1_interieur3{
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 25px solid #544a79;
    margin-top: -36px;
    margin-left: -12px;
}

.competences_1{
    grid-row: 14 /16;
    grid-column: 18 /22;
    border: .15em solid #ffffff;
    box-shadow: .2em .2em .2em #544a79;
    color: #ffffff;
    background-color: rgba(11, 8, 30, .8);
    font-size: 1.2rem;
    display: flex;
    text-shadow: 2px 2px 5px #544a79;
    justify-content: center;
    align-items: center;
}

.comptetences-2-triangle{
    margin-top: .4em;
    grid-row: 16 /18;
    grid-column: 20 /21;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid rgba(250, 250, 250, .9);
}

.triangle2_interieur1{
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-top: 37.5px solid #544a79;
    margin-top: -45px;
    margin-left: -18px;
}

.triangle2_interieur2{
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 25px solid #ffffff;
    margin-top: -32px;
    margin-left: -12px;
}

.triangle2_interieur3{
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 25px solid #544a79;
    margin-top: -36px;
    margin-left: -12px;
}


.competences_2{
    grid-row: 18 /20;
    grid-column: 18 /22;
    border: .15em solid #ffffff;
    box-shadow: .2em .2em .2em #544a79;
    color: #ffffff;
    background-color: rgba(11, 8, 30, .8);
    font-size: 1.2rem;
    display: flex;
    text-shadow: 2px 2px 5px #544a79;
    justify-content: center;
    align-items: center;
}

.comptetences-3-triangle{
    margin-top: .4em;
    grid-row: 20 /22;
    grid-column: 21 /22;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid rgba(250, 250, 250, .9);
    
}

.triangle3_interieur1{
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-top: 37.5px solid #544a79;
    margin-top: -45px;
    margin-left: -18px;
}

.triangle3_interieur2{
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 25px solid #ffffff;
    margin-top: -32px;
    margin-left: -12px;
}

.triangle3_interieur3{
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 25px solid #544a79;
    margin-top: -36px;
    margin-left: -12px;
}


.competences_3{
    grid-row: 22 /24;
    grid-column: 18 /22;
    border: .15em solid #ffffff;
    box-shadow: .2em .2em .2em #544a79;
    color: #ffffff;
    background-color: rgba(11, 8, 30, .8);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px #544a79;
}

/* Animation de mes competences */

@keyframes competences{
    from{
        background-color: #ffffff;
        color: transparent;
        border: none;
        box-shadow: none;
        width: 0%;
        height: 0%;
        text-shadow: none;
    }
    75%{
        background-color: #ffffff;
        color: transparent;
        border: none;
        box-shadow: none;
        width: 0%;
        height: 0%;
    }
    82%{
        background-color: #544a79;
        color: transparent;

    }
    89%{
        color: #ffffff;
        border: none;
        width: 100%;
        height: 100%;

        }
    96%{
        border: transparent;
        box-shadow: none;
        text-shadow: none;
    }
    to{
        box-shadow: .2em .2em .2em #544a79;
    }
}

/* Emplacement de mes projets */

.cadre_projets{
    grid-row: 14 /24;
    grid-column: 3 /17;
}

.contenu_projets{
    grid-row: 14 /24;
    grid-column: 4 /16;
    border: .20em solid #ffffff;
    box-shadow: .2em .2em .2em #544a79;
    color: #ffffff;
    background-color: rgb(11, 8, 30);
    font-size: 1.2em;
    text-align: center;
    padding-top: 6em;
    border-radius: 30px;
    animation-name: projets;
    animation-duration: 9s;
}

@keyframes projets{
    from{
        background-color: transparent;
        border: transparent;
        color: transparent;
        box-shadow: none;
        transform: rotate(0);
    }
    70%{
        background-color: transparent; 
        transform: rotate(0);
        color: transparent;
    }
    77%{
        transform: rotate(10deg);
    }
    91%{
        background-color: #0b081e;
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(0);
        border: transparent;
        
        box-shadow: none;   
    }
}

.social_medias{
    grid-column: 24/ 25;
    grid-row: 1/ 9;
    background-color: rgba(182, 179, 204, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
